body {
    margin: 0;
    background: #1B244A;
    font-family: Arial, sans-serif; /* Fallback font */
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}

.team {
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url('fonts/CursedTimerULiL.woff2') format('woff2'),
         url('fonts/CursedTimerULiL.ttf') format('truetype');
}

.counter {
    background: #080001;
    color: #F94F6D;
    font-size: 3.2rem;
    font-family: 'Cursed Timer ULiL';
    padding: 0.5em;
    width: 120px;;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center horizontally */
}

.btn {
    background: transparent;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 8px 12px;
    font-family: 'Cursed Timer ULiL', monospace;
    cursor: pointer;
}

.btn-group {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.btn:hover {
    background: #9AABD8;
    color: #1B244A;
    
}



.heading {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

.number-one {
    display: flex-direction;
}

.reset {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
}

#reset-btn {
    background: #9AABD8;
    color: #1B244A;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}

#reset-btn:hover {
    background: #F94F6D;
    color: white;
}

